@page
@using Microsoft.Extensions.Localization
@using EasyAbp.Abp.DynamicEntity.Localization
@model EasyAbp.Abp.DynamicEntity.Web.Pages.DynamicEntity.IndexModel
@inject IStringLocalizer<DynamicEntityResource> L
@{
}
<h1>DynamicEntity</h1>
<p>@L["SamplePageMessage"]</p>
