@page
@using Microsoft.Extensions.Localization
@using EasyAbp.Abp.Dynamic.Localization
@model EasyAbp.Abp.Dynamic.Web.Pages.Dynamic.IndexModel
@inject IStringLocalizer<DynamicResource> L
@{
}
<h1>Dynamic</h1>
<p>@L["SamplePageMessage"]</p>
